<!-- include header -->
<%- include('./include/header') %>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="form-title text-center mt-1">
                <h2 class="text-dark">User Update & Kullanıcı Güncelleme</h2>
            </div>

            <!-- update user form -->
            <form action="/api/users" method="POST" id="update_user">
                <div class="new_user pb-4">
                    <div class="modal-content rounded-4 shadow">

                        <div class="modal-body p-5 pt-5">
                            <form class="">
                                <div class="form-floating mb-3">
                                    <input type="hidden" name="id" value="<%= user._id %>">
                                    <input type="text" class="form-control rounded-3" id="floatingInput" name="name"
                                        value="<%= user.name %>" placeholder="MeKaCoDe" autocomplete="off">
                                    <label for="floatingInput">Name & İsim</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control rounded-3" id="floatingInput" name="email"
                                        value="<%= user.email %>" placeholder="mekacode@gmail.com" autocomplete="off">
                                    <label for="floatingInput">Email</label>
                                </div>

                                <div class="form-group d-flex flex-row">
                                    <label for="gender" class="text-dark me-5">Gender & Cinsiyet</label>
                                    <div class="radio inline me-2">
                                        <input type="radio" id="radio-2" name="gender" value="Male & Erkek"
                                            <%=user.gender=="Male & Erkek" ? 'checked' : '' %>>
                                        <label for="radio-2" class="radio-label">Male & Erkek</label>
                                    </div>
                                    <div class="radio inline ps-4">
                                        <input type="radio" id="radio-3" name="gender" value="Female & Kadın"
                                            <%=user.gender=='Female & Kadın' ? 'checked' : '' %> >
                                        <label for="radio-3" class="radio-label">Female & Kadın</label>
                                    </div>
                                </div>

                                <div class="form-group d-flex flex-row mt-4">
                                    <label for="gender" class="text-dark me-5">Status & Durum</label>
                                    <div class="radio inline ps-3 me-2">
                                        <input type="radio" id="radio-4" name="status" value="Active & Aktif"
                                            <%=user.status=='Active & Aktif' ? 'checked' : '' %> >
                                        <label for="radio-4" class="radio-label">Active & Aktif</label>
                                    </div>
                                    <div class="radio inline ps-4">
                                        <input type="radio" id="radio-5" name="status" value="Inactive & Pasif"
                                            <%=user.status=='Inactive & Pasif' ? 'checked' : '' %> >
                                        <label for="radio-5" class="radio-label">Inactive & Pasif</label>
                                    </div>

                                </div>

                                <div class="form-group mt-4">
                                    <button type="submit"
                                        class="btn btn-sm w-100 rounded-3 text-white fw-bold">Güncelle</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!-- include footer -->
    <%- include('./include/footer') %>